# Database
MONGODB_URI="mongodb+srv://<user>:<password>@cluster.mongodb.net/hostel-mess"
JWT_SECRET="your-random-secret-key"

# Frontend API URL (update after deploying backend to Render)
VITE_API_URL="https://your-backend.onrender.com"

# Superadmin Seed
SUPERADMIN_EMAIL=balajidamineni@gmail.com
SUPERADMIN_PASSWORD=admin2026

